<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="168" android:versionName="1.4" package="com.internetwideworld.lilo.lite" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33" />
	<application android:label="LiLo.Lite" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" />
</manifest>